/* 'Open Sans' font from Google Fonts */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
.cuerpoFormulario {
    background-image: url(../../img/fondo.jpg);
}

.resetTokenPassForm input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    padding: 16px;
    outline: 0;
    font-family: inherit;
    font-size: 0.95em;
}

.resetTokenPassForm input[type="email"] {
    background: #fff;
    border-color: #bbb;
    color: #555;
}

.resetTokenPassForm input[type="email"]:focus {
    border-color: red;
}

.resetTokenPassForm input[type="submit"] {
    background: rgb(1, 29, 51);
    border-color: transparent;
    color: #fff;
    cursor: pointer;
    border-color: red;
}

.help-block {
    color: red;
}

.has-error input[type="email"] {
    border-color: rgb(216, 12, 12);
    color: rgb(230, 14, 14);
}

.datos {
    padding: 43px;
    border-radius: 13px;
}

.botones {
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
}

.envio {
    background-color: #ff4205;
    border-color: #ff4205;
}

.iconos {
    float: left;
    margin-left: 95%;
    margin-top: -6%;
}

.resetTokenPassForm .glyphicon {
    position: relative;
    top: -38px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    margin-left: 92%;
    -moz-osx-font-smoothing: grayscale;
}